// MISRA C-2012 Rules

{
    version : "2.0",
    standard : "c2012",
    title: "Coverity MISRA Configuration",
    deviations : [
        {
            deviation: "Directive 4.8",
            reason: "HeapRegion_t and HeapStats_t are used only in heap files but declared in portable.h which is included in multiple source files. As a result, these definitions appear in multiple source files where they are not used."
        },
        {
            deviation: "Directive 4.9",
            reason: "FreeRTOS-Kernel is optimised to work on small micro-controllers. To achieve that, function-like macros are used."
        },
        {
            deviation: "Rule 1.2",
            reason: "The __attribute__ tags are used via macros which are defined in port files."
        },
        {
            deviation: "Rule 3.1",
            reason: "We post HTTP links in code comments which contain // inside comments blocks."
        },
        {
            deviation: "Rule 8.7",
            reason: "API functions are not used by the library outside of the files they are defined; however, they must be externally visible in order to be used by an application."
        },
        {
            deviation: "Rule 5.8",
            reason: "MPU feature makes use of define the function name with marco for privileged and un-privileged APIs."
        },
        {
            deviation: "Rule 11.3",
            reason: "Allow kernel object static allocation for StaticEventGroup_t, StaticQueue_t, StaticStreamBuffer_t, StaticTimer_t and StaticTask_t."
        },
        {
            deviation: "Rule 11.5",
            reason: "Allow casts from `void *`. List owner, pvOwner, is stored as `void *` and are cast to various types for use in functions."
        },
        {
            deviation: "Rule 14.4",
            reason: "do while( 0 ) patter is used in macro to prevent extra semi-colon."
        },
        {
            deviation: "Rule 21.6",
            reason: "snprintf is used in APIs vTaskList and vTaskGetRunTimeStats to print the buffer."
        },

        // Disable the following advisory rules.
        {
            deviation: "Directive 4.4",
            reason: "Advisory rule"
        },
        {
            deviation: "Directive 4.5",
            reason: "Advisory rule"
        },
        {
            deviation: "Directive 4.6",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 2.3",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 2.4",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 2.5",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 5.9",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 8.9",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 8.13",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 11.4",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 15.4",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 15.5",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 17.8",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 18.4",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 19.2",
            reason: "Advisory rule"
        },
        {
            deviation: "Rule 20.5",
            reason: "Advisory rule"
        }
    ]
}

